<!doctype html>
<html lang="en" ng-app="feeding-tracker">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  <title>Feedings Tracker</title>

  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">
  <link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css">
  <link rel="stylesheet" href="styles/app.css"/>

  <script src="lib/onsen/js/angular/angular.js"></script>
  <script src="lib/onsen/js/onsenui.js"></script>

  <script src="cordova.js"></script>
  <script src="js/app.js"></script>
  <script>
    ons.ready(function() {
    });
  </script>
</head>

<body>

  <ons-navigator>
    <ons-page style="background-color: #f9f9f9">
      <ons-toolbar>
        <div class="center">Feedings</div>
      </ons-toolbar>

      <ons-list ng-controller="MasterController">
        <ons-list-item modifier="plus" ng-click="startFeeding($index)">
          <ons-row>
            <ons-col class="center">Start a new feeding</ons-col>
          </ons-row>
        </ons-list-item>
        <ons-list-item modifier="chevron" ng-repeat="item in items" ng-click="showDetail($index)">
          <ons-row>
            <ons-col width="38px">
              <ons-icon icon="{{item.icon}}" fixed-width="true" style="color: #999"></ons-icon>
            </ons-col>
            <ons-col class="left">
              {{item.title}}
            </ons-col>
          </ons-row>
        </ons-list-item>
      </ons-list>
    </ons-page>
  </ons-navigator>

  <script type="text/ons-template" id="detail.html">
    <ons-page ng-controller="DetailController" style="background-color: #f9f9f9;">
      <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">Details</div>
      </ons-toolbar>

      <br>
      <ons-list>
        <ons-list-header>Item Information</ons-list-header>
        <ons-list-item><strong>{{item.title}}</strong></ons-list-item>
        <ons-list-item>
          <ons-row>
            <ons-col width="38px"><ons-icon icon="{{item.icon}}" fixed-width="true" style="color: #999"></ons-icon></ons-col>
            <ons-col>{{item.type}}</ons-col>
          </ons-row>
          <ons-row>
            <ons-col>{{item.description}}</ons-col>
          </ons-row>
      </ons-list>
    </ons-page>
  </script>
  <script type="text/ons-template" id="feeding.html">
    <ons-page ng-controller="FeedingController" style="background-color: #f9f9f9;">
      <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">New Feeding</div>
      </ons-toolbar>
    </ons-page>
  </script>
</body>
</html>
